{{!
    @template local_message/manage
    Example context (json):
    {
    }
}}
<br>
<div>
    <hr>
    <input type="button" class="btn btn-primary" value="Test Messages" onclick="location.href='{{manageurl}}'">
    <input type="button" class="btn btn-primary" value="Test LA" onclick="location.href='{{laurl}}'">
</div>
